body {
    text-align: center;
}

p {
	margin: 0;
}

#info {
	width: 50%;
	margin: 10px auto 0;
}

#level {
	display: inline-block;
	line-height: 1em;
	margin: 0;
}

#mute {
	display: inline-block;
	text-decoration: none;
	background: #fc7b7b;
	border-radius: 5px;
	padding: 3px 7px;
	color: #fff;
	border: solid 2px white;
}

#mute:hover,
#next:hover {
	border: solid 2px #ccc;
}

#next {
	display: inline-block;
	text-decoration: none;
	background: #78AB46;
	border-radius: 5px;
	padding: 3px 7px;
	color: #fff;
	border: solid 2px white;
}

#mute-container {
	margin: 5px auto;
	text-align: center;
	width: 50%;
}
