body {
    text-align: center;
}

#mute {
	display: inline-block;
	text-decoration: none;
	background: #fc7b7b;
	border-radius: 5px;
	padding: 3px 7px;
	color: #fff;
	border: solid 2px white;
}

#mute:hover {
	border: solid 2px #ccc;
}
